@using System.Globalization;

@model IEnumerable<Blog>
<div class="bg-secondary text-center rounded p-4">
	<div class="d-flex align-items-center justify-content-between mb-4">
		<h6 class="mb-0">Sonuncu bloqlar</h6>
		@*<a href="">Show All</a>*@
	</div>
	<div class="table-responsive">
		<table class="table text-start align-middle table-bordered table-hover mb-0">
			<thead>
				<tr class="text-white">
					<th scope="col">Müəllif</th>
					<th scope="col">Mövzu</th>
					<th scope="col">Tarix</th>
					<th scope="col">Kateqoriya</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.Writer!.FirstName @item.Writer.LastName</td>
						<td>@item.Title</td>
						<td>@(((DateTime)item.CreatedDate!).ToString("d MMM, yyyy HH:mm", new CultureInfo("az-AZ")))</td>
						<td>@item.Category!.Name</td>
						<td><a class="btn btn-sm btn-primary px-3" href="/blog/@item.Id">Bax</a></td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>